#pagina{
	background-color: #000000;
	color: #ffffff;
	margin: 0;
}
.fundo{
	background-image:url('../image/piscina.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	background-size: 100%;
}

 .texto{   
    color: rgb(0, 0, 0);
	font-family: Staatliches;
	text-align:center;
	letter-spacing: 1px;
	font-size: 30px;
}

.titulo{   
    color: rgb(0, 0, 0);
	font-family: Staatliches;
	text-align:center;
	letter-spacing: 1px;
	font-size: 40px;
	text-shadow:1px 1px 3px #000;
}

