
.fundo{
	background-image:url('../image/piscina.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	background-size: 100%;
}
.fundo1{
	background-image:url('../image/ShangriLaParis12.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	background-size: 100%;
}
 .texto{   
    color: rgb(255, 255, 255);
	font-family: Staatliches;
	text-align:center;
	letter-spacing: 1px;
	font-size: 25px;
}

.titulo{   
    color: rgb(0, 0, 0);
	font-family: Staatliches;
	text-align:center;
	letter-spacing: 1px;
	font-size: 40px;
	text-shadow:1px 1px 3px #000;
	margin-top: -470px;
}
.button {
	display:inline-block;
	border-radius: 10px;
	background-color: #42f12b;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	font-family: Staatliches;
  }
  
  .button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button:hover span {
	padding-right: 25px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }
  .image{
	position: relative;
	right: 20px;
	top: 0%;
  }
  .cor{
	color: rgb(0, 0, 0);
	font-family: Staatliches;
	text-align:center;
	letter-spacing: 1px;
	font-size: 20px;
	text-shadow:1px 1px 3px #000;
} 
.caixa{
	text-align: center;
	width: 20%;
	height: 0%;
	background-color: rgb(0, 0, 0);
	color: snow;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}
.caixa1{
	font-family:Staatliches ;
	font-size: 20px;
	text-align: center;
	width: 10%;
	height: 10%;
	background-color: transparent;
	color: rgb(255, 0, 0);
	margin: 55px;
	border-radius: 10px;
	margin-top: -55px;
}
.caixa2{
    text-align: center;
	width: 20%;
	height: 0%;
	background-color: rgb(0, 0, 0);
	color: snow;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	font-family: 'Encode Sans', sans-serif;
	font-size: 20px;
	opacity: 80%;
}
nav{
	text-align: center;
	padding:0;
	position: fixed;
	top:0;
    width: 100%;
	margin: 0;
	overflow: hidden;  
	z-index: 100;
	
	
}
nav ul{
	margin: 0;
}
nav ul li {
	display: inline-block;
	list-style-type: none;	

}
nav ul li a{
    font-family: Staatliches;
	text-transform: initial;
	text-decoration: none;
	color: #ff2800;
	padding: 14px 16px;
	font-size:30px;
	display: block;
	text-align: center;	
}
nav ul li a:hover{
	color: lightcoral;
	font-weight: bold;	
}
nav ul li a.ativo{
	padding: 15px;

}

