#pagina{
	background-color: #000000;
	color: #ffffff;
	margin: 0;
}
.fundo{
	background-image:url('../image/piscina.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	background-size: 100%;
}

 .texto{   
    color: rgb(0, 0, 0);
	font-family: Staatliches;
	text-align:center;
	letter-spacing: 1px;
	font-size: 30px;
}

.titulo{   
    color: rgb(0, 0, 0);
	font-family: Staatliches;
	text-align:center;
	letter-spacing: 1px;
	font-size: 40px;
	text-shadow:1px 1px 3px #000;
}

.botao{
	font-family: Staatliches ;
	
}

a.ativo{
	padding: 15px;
}
.button {
	display:inline-block;
	border-radius: 4px;
	background-color: #1f57be;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 21px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	font-family: Staatliches;
  }
  
  .button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button:hover span {
	padding-right: 25px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }


