#pagina{
	background-color: #000000;
	color: #ffffff;
	margin: 0;
}
.materia{
	background: rgba(227, 241, 29, 0.692);
	margin-top:-42px;
	color: rgb(255, 255, 255);
	width: 100%;
	
}
	
header{
	width:100%;
	height:400px;
	background-color: white;
	color: white;
	background-image:url('../image/Dexerto-Header.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	background-size: 100%;
	text-align: center;
	vertical-align: middle;
	font-family: Staatliches;
	font-size: 31px;
	color: white;
	text-shadow:10px 1px 3px #000;
}
.objeto{
	position:fixed;
	display:block;
	bottom:0;
	right: 0;
}
.objeto1{
	position:relative;
	top:0px;
	left:500px;
}
.objeto2{
	position:relative;
	top:0px;
	right:1050px;
	border-bottom: lightcyan;
}
.objeto3{
	position:static;
	bottom:0;
	left:0;
}
.objeto4{
	position:static;
	bottom:0;
	left: 0;
}
.cor{
	color:#ff0000;
}
nav{
	text-align: center;
	padding:0;
	position: fixed;
	top:0;
    width: 100%;
	margin: 0;
	overflow: hidden;  
	z-index: 100;
	border-bottom:1px solid #00000038;
	
}
nav ul{
	margin: 0;
}
nav ul li {
	display: inline-block;
	list-style-type: none;	

}
nav ul li a{
    font-family: Staatliches;
	text-transform: initial;
	text-decoration: none;
	color: #ff2800;
	padding: 14px 16px;
	font-size:30px;
	display: block;
	text-align: center;	
}
nav ul li a:hover{
	color: lightcoral;
	font-weight: bold;	
}
nav ul li a.ativo{
	padding: 15px;
}
.botao{
	padding:15px;
	border-radius:25px;
	transition-duration: 0.5s;
}
.botao:hover{
	background-color: #02ff96;
    color: white;	
}
.button {
	display:inline-block;
	border-radius: 4px;
	background-color: #1f57be;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 25px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	font-family: Staatliches;
  }
  
  .button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button:hover span {
	padding-right: 25px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }
.titulo{
	color:white;
	text-shadow:2px 2px 3px #000;
	text-align: center;
	font-family: Odibee Sans;
	font-size: 50px;
}
img{
	border-radius:12%;
}
h2{
	color: rgb(255, 255, 255);
	font-family: Staatliches;
	text-align:center;
	font-size: 50px;
}
.text{
	color: rgb(255, 255, 255);
	font-family: Staatliches;
	text-align:center;
	letter-spacing: 1px;
	font-size: 20px;
	
}
.image{
	position:relative;
	left: 400px;
}
.image1{
	position:relative;
	left: 550px;
	margin: 0;
	padding: auto;
}
.fundo{
	background-image:url('../image/Dexerto-Header.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	background-size: 100%;
}
h3{
	color: rgb(255, 255, 255);
	font-family: Staatliches;
	text-align:center;
	font-size: 50px;
	margin-top: -20px;
}
.texto{
	text-align: center;
	font-family: Staatliches;
	font-size: 25px;
	margin-top: -50px;
}
.caixa{
	font-family:Staatliches ;
	font-size: 25px;
	text-align: center;
	width: 50%;
	height: 10%;
	background-color: transparent;
	color: rgb(255, 255, 255);
	margin: 55px;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}

